<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Boot Session Example</title>
</head>
<body>
	<div>
		<form th:action="@{/setMessage}" method="POST">
			<textarea name="message" cols="40" rows="2"></textarea>
			<br> <input type="submit" value="Save Message" />
		</form>
	</div>
    <div>
        <h2>SessionID: <b th:text="${sessionId}"></b></h2>

    </div>
	<div>
		<h2>Messages</h2>
		<ul th:each="message : ${sessionMessages}">
			<li th:text="${message}"></li>
		</ul>
	</div>
	<div>
		<form th:action="@{/invalidate}" method="POST">
			<input type="submit" value="Destroy Session" />
		</form>
	</div>
</body>
</html>